/*
 * CSS Variables
 * ----------------------------------------------------------------------------
 *
 */
:root {
    --primary-color: #b4e7fe;
    --secondary-color: #e6f7ff;
}
/*
 * Imports
 * ----------------------------------------------------------------------------
 *
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/*
 * Reset styles
 * ----------------------------------------------------------------------------
 *
 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
/*
 * Base styles
 * ----------------------------------------------------------------------------
 *
 */
html,
body,
#root,
.header {
	height: 100%;
}
body{
    display: block;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif, arial;
    color: #555;
	background: white;
}
/*
 * Template
 * ----------------------------------------------------------------------------
 *
 */
.header {
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	background: linear-gradient(to top, var(--secondary-color), var(--primary-color));
 }
.main {
	width: 100%;
	background: linear-gradient(to bottom, var(--secondary-color) 1%, white 95%);
 }
.container {
	margin: auto;
	width: 90%;
	max-width: 800px;
 }
.article {
	padding: 3rem 1rem;
	margin-bottom: 5rem;
 }
.article-title {
	font-size: 3rem;
	font-weight: 700;
	color: #222;
 }
.article-date {
	display: block;
	margin-bottom: .5rem;
	position: relative;
	font-size: .8rem;
	color: #999;
}
.article-author {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
.article-author .article-author__img {
	margin-right: .5rem;
	width: 30px;
	height: 30px;
	border-radius: 200px;
}
.article-author .article-author__name,
.article-author .article-author__name a {
	color: #222;
	font-weight: 500;
	text-decoration: none;
}
.article-content h4 {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
	color: #222;
}
.article-content a {
	color: #6dbadb;
}
.article-content p {
	margin-bottom: 2rem;
	line-height: 1.75rem;
	font-size: 1.2rem;
	font-weight: 300;
	text-align: justify;
}
.article-content code {
	padding: .2rem .5rem;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	background-color: #f2f2f2;
	color: rgb(207, 132, 119);
	font-weight: 100;
	font-size: .9rem;
}
.article-footer {
	padding: 2rem 0;
	text-align: center;
}
img {
	max-width: 100%;
}
.button {
    padding: .6rem 1.3rem;
    color: #555;
    font-weight: 300;
    font-size: .9rem;
    text-decoration: none;
    background: white;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}
.button.fixed {
	position: fixed;
    top: 15px;
    right: 15px;
}
.button:hover {
    background: #eee;
}
.button .fa {
    margin-right: .5rem;
}
.button-cta {
	background-color: transparent;
	border: 1px solid #03a9f4;
	background-color: #03a9f4;
	color: white;
	font-size: 1.4rem;
	font-weight: 500;
}
.button-cta:hover {
	background-color: #0286c2;
	border-color: #0286c2;
}
.title {
    position: relative;
    font-size: 2rem;
    font-weight: 100;
}
.title:before,
.title:after {
    content: '';
    display: block;
    position: relative;
    min-width: 200px;
    height: 1px;
}
.title:before {
    right: 230px;
    top: 20px;
    background: linear-gradient(to left, #81d7fd, rgba(255,255,255,0));
}
.title:after {
    bottom: 20px;
    left: 230px;
    background: linear-gradient(to right, #81d7fd, rgba(255,255,255,0));
}
.author {
    font-size: .80rem;
    font-weight: 300;
    color: #777;
    text-align: center;
}
.author a {
    color: inherit;
    text-decoration: none;
}
.webpack-logo {
    position: relative;
    top: 0;
    margin-bottom: 1rem;
    width: 200px;
    animation: bounce 3s ease-out infinite;
}
/*
 * Animations
 * ----------------------------------------------------------------------------
 *
 */
@keyframes bounce {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -10px;
    }
}