/*
 * CSS Variables
 * ----------------------------------------------------------------------------
 *
 */
:root {
    --primary-color: #b4e7fe;
    --secondary-color: #e6f7ff;
}
/*
 * Imports
 * ----------------------------------------------------------------------------
 *
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/*
 * Reset styles
 * ----------------------------------------------------------------------------
 *
 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
/*
 * Base styles
 * ----------------------------------------------------------------------------
 *
 */
html,
body {
    height: 100vh;
}
body{
    display: flex;
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif, arial;
    color: #555;
    background: linear-gradient(to top, var(--secondary-color), var(--primary-color));
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*
 * Template
 * ----------------------------------------------------------------------------
 *
 */
 .button {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: .6rem 1.3rem;
    color: #555;
    font-weight: 300;
    font-size: .9rem;
    text-decoration: none;
    background: white;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}
.button:hover {
    background: #eee;
}
.button .fa {
    margin-right: .5rem;
}
.title {
    position: relative;
    font-size: 2rem;
    font-weight: 100;
}
.title:before,
.title:after {
    content: '';
    display: block;
    position: relative;
    min-width: 200px;
    height: .5px;
}
.title:before {
    right: 230px;
    top: 20px;
    background: linear-gradient(to left, #81d7fd, rgba(255,255,255,0));
}
.title:after {
    bottom: 20px;
    left: 230px;
    background: linear-gradient(to right, #81d7fd, rgba(255,255,255,0));
}
.author {
    font-size: .80rem;
    font-weight: 300;
    color: #777;
    text-align: center;
}
.author a {
    color: inherit;
    text-decoration: none;
}
.webpack-logo {
    position: relative;
    top: 0;
    margin-bottom: 1rem;
    width: 200px;
    animation: bounce 3s ease-out infinite;
}
/*
 * Animations
 * ----------------------------------------------------------------------------
 *
 */
@keyframes bounce {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -10px;
    }
}